importFrom(purrr, map_lgl)

export(lsymb)
S3method(as.character,latex_symb)
S3method(print,latex_symb)
export("*")
export("+")
export("-")
export("/")
export("^")
export(under)
export(pths)
export(br)
export(sqbr)
export(ang)
export(il)
export(lenv)


